*{
    margin: 0;
    padding: 0;

}

.logohome{
    width: 38px;
    height: 38px;
    left: 28px;
    top: 15px;
    }

    header img{
        right: 50%;
    }

    header{
        width: 100%;
        height: 4em;
        background:linear-gradient(to right,#4eb8e2,#133bbd);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2em;
        box-sizing: border-box;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    #cerrarsesión{
        display: flex;
        float: right;
        justify-content: flex-end;
        padding:10px ;
    }


            .sectionHome{

                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px; 
              }


              .containerInfoUser{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color:#4eb8e2;
                border: 0.42em solid #d9dbe4;
                width: 335px;
                padding: 20px;
                margin: 15px;
                font-family: Arial, Helvetica, sans-serif;
                color: white;
            }

            .p8{
 
                margin-top: 5px;
                padding-bottom: 10px;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color:black;
                }
/* 
                .p9{
 
                    margin-top: 5px;
                    padding-bottom: 10px; 
                    margin-left: 40px;
                    margin-right: 40px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    color:white;
                    } */


              .containerSubir-Post{
                background-color: white;
                width: 100%;
                margin: 10px;
                text-align: center;
                line-height: 25px;
                padding: 5px;
              }
              .crear-post{
                display: flex;
                flex-wrap: nowrap;
              }
              .crear-post .post1 {
                width: 150px;
               }
              .crear-post .post2{
                  width:80%;
                  margin:5px
                 }
            .containerDetalles{
                width: 50%;
            }
            .foto1{
                border-radius: 50%;
                } 
            .containerSubirInput{
                display: flex;
                flex-direction: column; 
                align-items: center; 
                text-align: center;
                right: 50%;
            }
            #compartirSubir{
                position: relative;
                border-radius: 10px;
                margin-top: 10px;
                margin-right: 10px;
                margin-bottom: 8px;
                height: 6em;
                resize: none;
                font-family: "Noto sans", sans-serif;
                border: 0.42em solid #0f1b5e ;
                width: 200px;
            }
    .containerPosteado{
        display: flex;
        flex-wrap: nowrap;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px; 
    }
    .containerPosteado .containerPosteadoUsuario{
        width: 40%;
        margin: 10px;
        text-align: center;
        padding: 10px;
       
    }
    .containerPosteado .containerPosteadoImg{
        width: 280px;
        margin: 10px;
        text-align: center;
        padding: 10px;
        line-height: 30px;
        border-radius: 10px;
        border: 0.42em solid #0f1b5e ;
    }


@media screen and (min-width:680px) {
header{
    width: 100%;
    height: 4em; 
    background:linear-gradient(to right,#4eb8e2,#133bbd);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    box-sizing: border-box;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
#cerrarsesión{
    display: flex;
    float: right;
    justify-content: flex-end;
}

.sectionHome{
display: flex;
flex-wrap: nowrap;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px; 
}

.sectionHome .containerInfoUser{
background-color:#4eb8e2;
width: 30%;
margin: 1px;
text-align: center;
line-height: 75px;
padding: 10px;
padding: 20px;
border-radius: 3%;
border: 0.42em solid #d9dbe4;
font-family: Arial, Helvetica, sans-serif;
color: white;
 }

 .p8{
    margin-top: 5px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color:black;
    }

.sectionHome .containerSubir-Post{
background-color: white;
width: 100%;
margin: 10px;
text-align: center;
line-height: 25px;
padding: 10px;
border-radius: 3%;
}
.crear-post{
 display: flex;
flex-wrap: nowrap;
}
.crear-post .post1 {
margin: 10px;
width: 32%;

}
.crear-post .post2{
width:40%;
margin: 10px;
}
.containerDetalles{
width: 50%;
}
 .foto1{
border-radius: 50%;
}
.containerSubirInput{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
right: 50%;
width: 100%;
}

#compartirSubir{
position: relative;
border-radius: 10px;
margin-top: 10px;
margin-right: 0px;
margin-bottom: 8px;
height: 8em;
resize: none;
font-family: "Noto sans", sans-serif;
border: 0.42em solid #0f1b5e ;
width: 100%;
}
.containerPosteado{
    display: flex;
    flex-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
}
.containerPosteado .containerPosteadoUsuario{
    width: 32%;
    margin: 10px;
    text-align: center;
    padding: 0px;
}

.containerPosteado .containerPosteadoImg{
    width: 40%;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 0.42em solid #0f1b5e ;
    border-radius: 10px;
    background-color: white
}

.oculto{
    display: none;
    }
}

@media screen and (min-width:680px) {
    .sectionHome {
        margin: auto;
        background-color: #EEEDEB;
        display: flex;
        flex-direction: row;
        height: 800px;
        /* justify-content: center;  */
         align-items: baseline;
        /* align-content: center;  */
        /* width: 414px;
        height: 736px; */
    }

    /* .containerSubir{
        margin: 30px;
        padding: 20px;
    }

    .containerPosteadoImg{
        margin: 30px;
        padding: 20px;
    }

    #containerPost{
        margin: 30px;
        padding: 20px; */
    

    .containerPosteado{
        margin: 30px;
        padding: 20px;
    }
}